EXPO_PUBLIC_APPWRITE_ENDPOINT=https://<REGION>.cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=
EXPO_PUBLIC_APPWRITE_PLATFORM_ID=mx.arete.dental
EXPO_PUBLIC_APPWRITE_RECOVERY_URL=arete://auth?mode=recovery
EXPO_PUBLIC_APPWRITE_VERIFICATION_URL=arete://auth?mode=verify
EXPO_PUBLIC_ARETE_WEB_URL=http://localhost:3001
